In [1]:
%load_ext autoreload
%load_ext sql
%autoreload

import sqlite3

import matplotlib.pyplot as plt
import pandas as pd
from config import settings

d:\Mini_Conda\envs\finance\Lib\site-packages\pydantic\_internal\_fields.py:149: UserWarning: Field "model_directory" has conflict with protected namespace "model_".

You may be able to resolve this warning by setting `model_config['protected_namespaces'] = ('settings_',)`.
  warnings.warn(

In [2]:
from data import SQLRepository, AlphaVantageAPI
connection = sqlite3.connect(database=settings.db_name, check_same_thread=False)
av = AlphaVantageAPI()
repo = SQLRepository(connection=connection)

assert hasattr(repo, "connection")
assert isinstance(repo.connection, sqlite3.Connection)

In [3]:
ticker = "AMBUJACEM.BSE"

ambuja_records = av.get_daily(ticker=ticker)

response = repo.insert_table(ticker, ambuja_records, if_exists="replace")

response

{'transaction_successful': True, 'records_inserted': 4679}

In [4]:
df_ambuja = repo.read_table(table_name=ticker, limit=2500)
df_ambuja

              open    high     low   close    volume
date
2023-12-29  511.55  522.30  511.30  520.95  179989.0
2023-12-28  517.35  519.75  512.20  514.25   69935.0
2023-12-27  520.05  523.00  513.25  516.40  218846.0
2023-12-26  503.80  508.50  502.95  505.15  114257.0
2023-12-22  505.65  509.45  498.20  503.80   85760.0
...            ...     ...     ...     ...       ...
2013-11-07  180.65  184.30  178.65  180.25   96910.0
2013-11-06  185.60  186.50  180.10  180.60  166449.0
2013-11-05  188.45  190.35  185.50  186.55   78655.0
2013-11-01  189.00  190.50  187.30  188.05  107439.0
2013-10-31  192.00  192.60  187.00  188.45  155639.0

[2500 rows x 5 columns]