In [1]:
from pykrx import stock
import pandas as pd
import numpy as np

In [2]:
path = "D:\gdrive\코멘토\Kodex_200_20230721.xls"

df = pd.read_excel(path)

In [3]:
df.columns = df.loc[1]
df = df.iloc[3:]
df.index = np.arange(1,len(df)+1)
df = df.drop(columns=["번호", "ISIN", "등락(원)"])
price_df = stock.get_market_ohlcv("20230721", market = "KOSPI")
close = price_df.loc[df["종목코드"]]["종가"]

In [4]:
df = pd.merge(df, close, left_on="종목코드", right_on="티커", how="left")

In [5]:
df

          종목명    종목코드    수량     비중(%)    평가금액(원)  현재가(원)      종가
0        삼성전자  005930  7291  0.302324  517661000   73300   70300
1      SK하이닉스  000660   867  0.059192  101352300  140000  115100
2       삼성SDI  006400    80  0.032004   54800000  452500  686000
3    POSCO홀딩스  005490   105  0.030508   52237500  480000  551000
4        LG화학  051910    71  0.028404   48635000  493000  694000
..        ...     ...   ...       ...        ...     ...     ...
194        보령  003850    42    0.0002     341880   10970    8260
195     롯데웰푸드  280360     3  0.000171     293100  128300   98600
196     한일시멘트  300720    25  0.000171     292250   12830   11600
197       케이카  381970    21  0.000162     276990   12110   12990
198     쿠쿠홈시스  284740    10   0.00013     223000   21900   22550

[199 rows x 7 columns]

In [6]:
# from xlwings import view
# view(df)

In [8]:
# import polars as pl
# pl.DataFrame(df)