In [1]:
# Importing libraries for gathering data and visualization
import numpy as np
import pandas as pd
import yfinance as yf
from pandas_datareader import data as pdr
import matplotlib.pyplot as plt
import seaborn as sns

yf.pdr_override() # use yahoo finance for data

In [4]:
test = pdr.DataReader("^KS200", start="2008-01-02", end="2011-12-30", period='1d')
test

[*********************100%***********************]  1 of 1 completed

                  Open        High         Low       Close   Adj Close  Volume
Date
2008-01-02  240.470001  240.649994  235.020004  235.300003  235.300003   76100
2008-01-03  232.940002  235.639999  230.860001  234.669998  234.669998   69000
2008-01-04  234.619995  236.589996  230.410004  235.770004  235.770004   91500
2008-01-07  229.389999  232.419998  229.089996  231.000000  231.000000   86700
2008-01-08  231.750000  232.320007  229.190002  230.339996  230.339996   88700
...                ...         ...         ...         ...         ...     ...
2011-12-22  240.500000  241.399994  239.669998  241.399994  241.399994   58000
2011-12-23  243.259995  244.949997  243.059998  244.220001  244.220001   82000
2011-12-27  242.690002  243.910004  236.429993  240.789993  240.789993   77800
2011-12-28  239.440002  239.440002  237.279999  238.149994  238.149994   64000
2011-12-29  236.869995  239.550003  235.699997  238.080002  238.080002   64000

[980 rows x 6 columns]

In [7]:
test['Adj Close'].pct_change().describe()

count    979.000000
mean       0.000175
std        0.018035
min       -0.103295
25%       -0.008447
50%        0.000867
75%        0.009175
max        0.122319
Name: Adj Close, dtype: float64